<div class="modal fade" id="m_banana" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Flabana</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Ever dream of having a banana thats on fire? I know you have, because everyone wants a banana thats on fire. This banana is no ordinary banana. This banana is on fire. ON FIRE! Order yours today!! :)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m_monkey" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Monkey Totem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>This monkey totem is at the end of his rope. Because of this, he is oh so protective over many items. He will guard your belongings with his life, even though he is not technically alive. Buy the monkey totem and keep your belongings safe and sound. Maybe now you can sleep at night... </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m_pencil" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Broken Pencil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>This is a broken pencil. THATS RIGHT! No longer do you need to have a fully functional pencil, sitting wishing you had a broken pencil. This pencil is best because it is broken, and with that you can rest assured that now you have a broken pencil. Warning: May not actually work, because its broken. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m_glasses" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">One Eye Sun Glasses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Are you a cyclops by any chance? You probably are since you clicked on this one. No longer do you have to be out in the sun worried that the blinding rays will ruin your only good eye. With this, one eyed sun glasses your troubles are now over! Purchase one eye sun glasses today for the budget price of $9,999.99</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="m_grass" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Grandals</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Want to wear shoes while also feeling like you arent wearing any shoes? Then grass sandles are for you! Now you can rest assured your feet are protected while feeling like they arent. Dont have a fresh lawn? Now with Grandals you dont have to feel like you arent on a fresh lawn ever again!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
