<div class="modal fade" id="m_banana" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Flabana</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Ever dream of having a banana thats on fire? I know you have, because everyone wants a banana thats on fire. This banana is no ordinary banana. This banana is on fire. ON FIRE! Order yours today!! :)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m_monkey" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Monkey Totem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>This monkey totem is at the end of his rope. Because of this, he is oh so protective over many items. He will guard your belongings with his life, even though he is not technically alive. Buy the monkey totem and keep your belongings safe and sound. Maybe now you can sleep at night... </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m_pencil" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Broken Pencil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>This is a broken pencil. THATS RIGHT! No longer do you need to have a fully functional pencil, sitting wishing you had a broken pencil. This pencil is best because it is broken, and with that you can rest assured that now you have a broken pencil. Warning: May not actually work, because its broken. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m_glasses" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">One Eye Sun Glasses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Are you a cyclops by any chance? You probably are since you clicked on this one. No longer do you have to be out in the sun worried that the blinding rays will ruin your only good eye. With this, one eyed sun glasses your troubles are now over! Purchase one eye sun glasses today for the budget price of $9,999.99</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="m_grass" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Grandals</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Want to wear shoes while also feeling like you arent wearing any shoes? Then grass sandles are for you! Now you can rest assured your feet are protected while feeling like they arent. Dont have a fresh lawn? Now with Grandals you dont have to feel like you arent on a fresh lawn ever again!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m_hammer" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Power Hammer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Ever feel like using a hammer just doesnt have quite enough kick? Why waste money on a hammer drill when you can buy the power hammer! With power hammer you can feel the electricity coursing through your veins! Each strike of the hammer provides an incredible 120 volts straight to you. You'll never feel so alive!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m_magic" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Magic Tree</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Do you like trees? Do you like magic? Well here is a MAGIC TREE! Yep, thats right, it is a magic tree. For the low cost of just $1,000.00 you can purchase a leaf from this tree. For $1,000,000,000.00 you can buy the whole tree! What a steal! No longer do you need to live your life without a magic tree! What does it do? Buy it and find out!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m_shoe" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Shoe Umbrella</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Tired of walking around and getting your feet wet? Well! Boy do we have a deal for you! Thoe shoes with umbrellas on them have all the property of umbrellas but now for your feet! Now you can wear those beautiful shoes even in the rain! The umbrellas will protect most of your shoes and feet. No more soppy socks for you! Order today!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m_spike" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Undrinkable Glass</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>The spike glass! Always worried about your friends and family sipping from your cup? Not anymore! With the spike glass, those pesky friends and family will be stabbed in the hands when they attempt to steal your tasty beverage! No longer do you have to worry about the robbery! Even you wont be able to drink from it! Keep all your tasty drinkes safe with the spiked glass!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m_pot" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Back Water</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Tired of watering your plants, only to look down and find there is no water left in your watering can? Back Water is the product for you! Back water successfully pours water back into the pot itself, leaving your plants with absolutely none! No longer do you have to worry about plants stealing all the water from your watering pot, now the pot can rewater itself! Warning: Plants may die using Back Water.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
